<div class="col">
  <a href="{% if entry.redirect %}{{ entry.redirect }}{% else %}{{ entry.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if entry.img %}
        {% assign alt_text = entry.img_alt | default: 'item thumbnail' %}
        {%
          include picture.liquid
          loading="eager"
          path=entry.img
          sizes="(min-width: 768px) 156px, 50vw"
          alt=alt_text
          class="card-img-top"
        %}
      {% elsif entry.icon %}
        <h1 class="icon text-center text-light"><i class="fa fa-{{- entry.icon -}}"></i></h1>
      {% elsif site.data.categories[category].icon %}
        {% assign default = site.data.categories[category].icon %}
        <h1 class="icon text-center text-light"><i class="fa fa-{{- default -}}"></i></h1>
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{- entry.title -}}</h2>
        {% if entry.subtitle %}
          <div class="card-subtitle mb-2">{{- entry.subtitle | markdownify -}}</div>
        {% endif %}
        <div class="card-text">{{ entry.description | markdownify }}</div>
      </div>
      {% if entry.github %}
        <div class="card-footer text-right">
          <a href="{{ entry.github |  prepend: 'https://github.com/' }}" title="Code Repository">
            <i aria-hidden="true" class="fa-brands fa-github fa-xl"></i>
            <span class="fa-sr-only">Code repository</span>
          </a>
        </div>
      {% endif %}
    </div>
  </a>
</div>
